<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body">
          <section class="row flexbox-container">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 d-flex justify-content-center">
                  <div class="card bg-authentication rounded-0 mb-0 w-100">

                              <div class="card rounded-0 mb-0 p-2">
                                  <div class="card-header pt-50 pb-1">
                                    <div class="logo_img_otp">
                                      <img src="../assets/images/logo/logo.png" class="w-100">
                                    </div>
                                      <div class="card-title">
                                          <h4 class="mb-0 title_otp">Verify your phone number.</h4>
                                      </div>
                                  </div>
                                  <p class="px-2 sub_title">To make sure this number is yours, iap will send you a text message with a 4-digit verification code. Standard rates apply</p>
                                  <div class="card-content">
                                      <div class="card-body pt-0">
<p class="phoneno_otp">
   <span class="fa fa-phone mr-3"></span>
<span>
  {{phone}}
</span>

</p>
<form class="otpform" >
  <input id="codeBox1" #codeBox1 type="number"   maxlength="1"  (keyup)="onKeyUpEvent(1, $event)" (focus)="onFocusEvent(1)">
  <input id="codeBox2" #codeBox2 type="number"   maxlength="1" (keyup)="onKeyUpEvent(2, $event)" (focus)="onFocusEvent(2)">
  <input id="codeBox3" #codeBox3 type="number"   maxlength="1"  (keyup)="onKeyUpEvent(3, $event)" (focus)="onFocusEvent(3)">
  <input id="codeBox4" #codeBox4 type="number"   maxlength="1" (keyup)="onKeyUpEvent(4, $event)" (focus)="onFocusEvent(4)">
  
</form>

<div class="">
  <button type="button" class="btn btn_submit float-right btn-inline mb-50" (click)='verify()'>Submit</button>
  
</div>


                                      </div>
                                  </div>
                              </div>

                  </div>
              </div>
          </section>

      </div>
  </div>
</div>
<!-- END: Content-->
