
<div class="app-content content">
<div class="form_box">
  <div class="col-md-12">
      <div class="card">

          <div class="card-content">
              <div class="card-body  registration_table">
                  <div class="">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row w-100 mx-0">
                          <div class="col-sm-12 col-md-8 pl-0">
                            <div class="card-header main_header">
                              <h4 class="card-title">Patient Registration List</h4>
                          </div>
                          </div>
                          <div class="col-sm-12 col-md-4">
                            <div class="d-flex">
                              <input type="text" class="ag-grid-filter form-control w-50 mb-1 mb-sm-0" id="filter-text-box" placeholder="Search...." />

                                <a routerLink="/addpatient" class="btn btn-primary ag-grid-export-btn waves-effect waves-light margin_side">
                                  <i class="fa fa-plus mr-2"></i> Add Patientlist
                                </a>

                          </div>
                        </div>
                        <div class="row w-100 mx-0">
                          <!-- <div class="col-sm-12"> -->
                              <table class="table  scroll-horizontal-vertical  no-footer table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                        <thead>
                          <tr>
                              <th width="30%">Patient Info</th>
                              <th width="5%"  class="text-center">Gender</th>
                              <th width="5%"  class="text-center">DOB</th>

                              <th width="10%"  class="text-center">Blood Group</th>
                              <th width="5%"  class="text-center">Stauts</th>
                              <th class="text-center" width="10%"> Created</th>
                              <th class="text-center" width="5%">Action</th>
                          </tr>
                      </thead>
                          <tbody>



                          <tr role="row" class="odd">
                              <td class="sorting_1">Ankita Tiwari</td>
                              <td>female</td>
                              <td>02/03/2020</td>

                              <td class="text-center">B+</td>
                              <td class="text-center">25</td>
                              <td class="text-center">
                                <div>
                                     3/04/2020
                                </div>
                              </td>
                              <td>
                                <div class="dropdown">
                                  <button class="dropbtn"><i class="fa fa-eye mr-0"></i></button>
                                  <div class="dropdown-content">
                                    <a href="#">ViewDetail</a>
                                    <a href="#">Delete</a>
                                    <a href="#">Edit</a>
                                  </div>
                                </div>
                              </td>
                        </tr>
                        <tr role="row" class="odd">
                          <td class="sorting_1">Ankita Tiwari</td>
                          <td>female</td>
                          <td>02/03/2020</td>

                          <td class="text-center">B+</td>
                          <td class="text-center">25</td>
                          <td class="text-center">
                            <div>
3/04/2020
                            </div>
                          </td>
                          <td>
                            <div class="dropdown">
                              <button class="dropbtn"><i class="fa fa-eye mr-0"></i></button>
                              <div class="dropdown-content">
                                <a href="#">ViewDetail</a>
                                <a href="#">Delete</a>
                                <a href="#">Edit</a>
                              </div>
                            </div>
  </td>

                    </tr>
                          </tbody>
                      </table></div>
                      <div class="row w-100"
                      ><div class="col-sm-12 col-md-8">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div></div>
                        <div class="col-sm-12 col-md-4"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
</div>


